@import "settings";

.notes-wrapper {
    .notes-layout {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .notes-nav {
            height: 100%;
            position: relative;
            width: 200px;

            .logout {
                position: absolute;
                bottom: 30px;
                left: 50%;
                transform: translate(-50%, 0);
                padding: 20px;
                img {
                    width: 25px;
                    filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.80));
                }
            }

            .nav-links {
                width: 100%;
                box-sizing: border-box;
                margin-top: 30px;
                a {
                    display: flex;
                    width: 100%;
                    padding: 30px 0;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    color: white;
                    border-bottom: 1px solid rgba(255, 255, 255, 0.3);

                    img{
                        display: flex;
                        width: 14px;
                        filter: drop-shadow(0px 2px 10px rgba(0, 0, 0, 0.20));
                        margin: 0 0 0 10px;
                    }
                }

                a:last-of-type {
                    border: 0;
                }
            }

        }
        .notes-nav-fixed {
            width: 200px;
            height: 100vh;
            position: fixed;
            background-color: #448AFF;

            img {
                width: 30px;
                display: table;
                margin: 50px auto 0;
            }
        }

        .notes-container {
            float: right;
            height: 100%;
            flex-grow: 10;
            box-sizing: border-box;

            .notes {
                width: 100%;
                max-width: 800px;
                margin: 0 auto 0;
                height: 100%;
                display: table;
            }

            h1 {
                margin-top: 70px;
                font-size: 30px;
                font-weight: 900;
                margin-bottom: 20px;
            }
        }
    }

    .new-note {
        h1{
            margin-bottom: 50px !important;
        }
        textarea, input {
            width: 100%;
            min-height: 500px;
            height: auto;
            display: flex;
            margin-top: 20px;
            padding: 0;
            font-size: 19px;
            font-family: Helvetica;
            border: 0;
            resize: none;
            background: transparent;
        }

        input{
            min-height: 0;
            margin-top: 0;
            padding: 20px 0;
            border-bottom: 1px solid rgba(0,0,0,0.1);
        }
    }

    .all-notes {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        .empty-notes {
            display: flex;
            flex-direction: column;
            margin-top: 100px;
            align-items: center;

            a {
                margin-top: 30px;
            }
        }
    }
}