.settings {
    .settings-wrapper{
        margin-top: 20px;
    }
    .set-box{
        opacity: 0.9;
        margin-bottom: 40px;

        h2{
            font-weight: 900;
            font-size: 22px;
            margin: 60px 0 30px;

        }

        .set-row{
            display: flex;
            justify-content: space-between;

            > div{
                width: 45%;
                display: flex;
                flex-direction: column;
            }
            .set-set{
                margin-bottom: 15px;
            }
            input{
                width: 100%;
                margin-top: 5px;
                padding: 10px 0;
                font-size: 17px;
                border: 0;
                border-bottom: 1px solid rgba(0,0,0,0.1);
            }

            .flip-switch {
                transition: all 0.1s ease-in-out;
                opacity: 0.9;
                margin-top: 10px;
                height: 30px;
                width: 55px;
                padding: 0;
                border: 1px solid #E0E0E0;
                background-color: #F5F5F5;
                border-radius: 15px;
                div {
                    transition: all 0.1s ease-in-out;
                    position: relative;
                    left: -1px;
                    top: -1px;
                    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
                    width: 30px;
                    height: 30px;
                    background-color: white;
                    border-radius: 50%;
                }
            }

            .flip-switch-on{
                transition: all 0.1s ease-in-out;
                background-color: #1DE9B6;
                border: 1px solid transparent;
                div{
                    transition: all 0.1s ease-in-out;
                    left: 24px;
                }
            }
        }
    }
}